/***ETIQUETAS BASE***/
body {
  font-family: 'Raleway' , 'sans-serif';
}

section {
  background-color: white;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding: 80px;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 500px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 30px;
}

ul.show {
  display: block;
}

li {
  text-decoration: none;
}

h1 {
  font-size: 90px;
  margin: 0;
}

h2 {
  font-size: 50px;
}

p {
  margin: 0;
  font-size: 30px;
  font-weight: 300;
}

hr {
  margin-left: 20px;
  margin-right: 20px;
}

a {
  text-decoration: none;
  color: white;
}

/***ETIQUETAS POR CLASE***/
.principal {
  background-color: #1c1d25;
  height: 100vh;
  color: white;
  font-size: 40px;
}

.subtext {
  font-size: 15px;
  font-weight: 300;
}

.principal-area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.principal-text {
  margin-left: 80px;
  margin-bottom: 200px;
}

.button {
  width: 200px;
  height: 55px;
  border-radius: 30px;
  color: black;
  background-color: #08BFFF;
  text-align: center;
  font-size: 30px;
  font-weight: 300;
  padding-top: 5px;
  margin-top: 20px;
}

.button:hover {
  background-color: #0973AC;
}

.button:active {
  background-color: #053f5f;
  color: darkgray;
}

.socials {
  padding-bottom: 200px;
}

.social {
  margin: 20px;
}

.logo {
  height: 80px;
  margin: 30px;
}

.sub-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 60px;
}

.sub-section-alternaive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.myphoto {
  width: 200px;
  border-radius: 150px;
}

.myphoto-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project-card {
  width: 200px;
  height: 500px;
  -webkit-box-shadow: 5px 5px 20px #c5c3c3;
          box-shadow: 5px 5px 20px #c5c3c3;
  margin: 10px;
}

.project-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.project-image {
  margin-top: 25px;
  width: 190px;
  border-radius: 125px;
}

.project-link {
  text-decoration: none;
  color: #028cd6;
}

.hamburguer {
  display: none;
}

.hamburguer:focus {
  outline: 0;
}

@media only screen and (max-width: 1000px) {
  .project-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .hamburguer {
    display: block;
    border: 0;
    background-color: transparent;
    color: white;
    font-size: 30px;
    margin: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  ul {
    display: none;
    background-color: #2c2d3a;
    margin: 0px;
  }
  ul.show {
    display: block;
  }
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    background-color: #2c2d3a;
  }
  .logo {
    display: none;
  }
}
/*# sourceMappingURL=Styles.css.map */